<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bilet Gezegeni</title>
    <link rel="shortcut icon" type="image/png" href="images/xsm_logo.png">
    <meta name="description" content="biletgezegeni.com sitesi yakinda hizmete sunulacaktir" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body id="top">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Coming Soon</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link nav-social" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="nav-link nav-social" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a class="nav-link nav-social" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a class="nav-link nav-social" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </nav>
                    </div>
                </div><br>      <div class="inner cover">
                    <h1 class="cover-heading">
                        <img src="/images/xsm_logo.png" class="img-responsive" alt="Bilet Gezegeni">
                    </h1>
                    <h2 class="cover-heading">The adventure Begins</h2>
                    <p class="lead cover-copy">biletgezegeni.com sitesi yakinda hizmete sunulacaktir.</p>
                </div>


            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
            <script src="../public/javascripts/main.js"></script>
</body>
</html>