<header id="fh5co-header-section" class="sticky-banner">

			<div class="container" ng-controller="headerCtrl">
				<div class="nav-header">
					<h1 style="color:#428bca"><img src="images/xsm_logo.png">Bilet Gezegeni</h1>
 
					<!-- START #fh5co-menu-wrap -->
                    

                    <div class="row row-bottom-padded-md">
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item"><i class="fa fa-home mr-3"></i><a href="#">  İstanbul, Mecidiyeköy 34200, TR</a></li>
                            <li class="list-inline-item"><i class="fa fa-envelope mr-3"></i><a href="#">  info@biletgezegeni.com</a></li>
                            <li class="list-inline-item"><i class="fa fa-phone mr-3"></i><a href="#">  0850 283 06 42</a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-user mr-3"></i>  0552 332 88 88</a></li>
                        </ul>

                    </div>
                
    </div> 

         </div> 
		</header>

