<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3>Aralık Ayı Fırsatları</h3>
            <p>Aralık ayının en ucuz uçuşlarına ne dersiniz?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
            <div href="#">
                <img src="images/place-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <div class="desc">
                    <span></span>
                    <h3>New York</h3>
                    <span>3 gece + uçuş 5*Otel</span>
                    <span class="price">1,000 TL</span>
                    <a class="btn btn-primary btn-outline" href="#">Satın AL <i class="icon-arrow-right22"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
            <div href="#">
                <img src="images/place-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <div class="desc">
                    <span></span>
                    <h3>Philippines</h3>
                    <span>4 gece + uçuş 5*Otel</span>
                    <span class="price">1,500 TL</span>
                    <a class="btn btn-primary btn-outline" href="#">Satın AL <i class="icon-arrow-right22"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
            <div href="#">
                <img src="images/place-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                <div class="desc">
                    <span></span>
                    <h3>Hongkong</h3>
                    <span>2 gece + Uçuş 4*Otel</span>
                    <span class="price">1,000 TL</span>
                    <a class="btn btn-primary btn-outline" href="#">Satın AL <i class="icon-arrow-right22"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center animate-box">
            <p><a class="btn btn-primary btn-outline btn-lg" href="#">Tümünü Gör <i class="icon-arrow-right22"></i></a></p>
        </div>
    </div>
</div>