
<div class="AltLogoContainer">
    <div class="container" style="padding: 0">
        <div class="row">
            <h1>Popüler Havayolu Firmaları</h1>
            <div style="text-align: center;margin-bottom:30px">
                <img src="/images/havayollari.png" />
            </div>
        </div>
    </div>
</div>
<section id="contact" class="content-section">
    <div id="map">
        <iframe src="https://maps.google.com/maps?q=UPT%20MONEY%20TRANSFER%20RIA%26%20KORONA%20ZOLOTAYA%26WARRI&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

        <div id="contact-content">
    <div class="section-heading">
        <h1>İletişim</h1>
    </div>
    <div class="section-content">
        <form id="contact" action="#" method="post">
            <div class="row">
                <div class="col-md-3">
                    <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="İsminiz..." required="">
                    </fieldset>
                </div>
                <div class="col-md-3">
                    <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="mail..." required="">
                    </fieldset>
                </div>
                <div class="col-md-3">
                    <fieldset>
                        <input name="subject" type="text" class="form-control" id="subject" placeholder="konu..." required="">
                    </fieldset>
                </div>
                <div class="col-md-3">
                    <fieldset>
                        <input name="phone" type="text" class="form-control" id="subject" placeholder="telefon numaranız..." required="">
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Mesajınız..." required=""></textarea>
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="btn">Hemen İletişime Geçin</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    </div>
 
    </section>
    <div class="AltLogoContainer">
        <div class="container" style="padding: 0">
            <div class="logoPanel">
                <div class="AltLogolar hidden-sm hidden-xs" style="width: 19%; display: inline-block; float: right; margin-top: 0">
                    <a href="http://ticket-tr.com/" rel="external nofollow" class="main-ipektr-icon">
                        <img src="/images/tickettr-logo_Buyuk.png" />
                    </a>
                </div>
                <div class="AltLogolar hidden-sm hidden-xs" style="width: 19%; display: inline-block; float: right; margin-top: 0">
                    <a href="/">
                        <img alt="Biletall Logo" style="width: 80%;" src="https://biletall-cdn.mncdn.com/img/master/logo.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="row row-bottom-padded-md">
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <i class="fa fa-home mr-3"></i><a href="https://maps.google.com/?q=UPT%20MONEY%20TRANSFER%20RIA%26%20KORONA%20ZOLOTAYA%26WARRI&t=&z=13&ie=UTF8&iwloc=
">İstanbul, Mecidiyeköy 34200, TR</a>
                        </li>
                        <li class="list-inline-item"><i class="fa fa-envelope mr-3"></i><a href="#">  info@biletgezegeni.com</a></li>
                        <li class="list-inline-item"><i class="fa fa-phone mr-3"></i><a href="tel:+905523328888">  0850 283 06 42</a></li>
                        <li class="list-inline-item"><i class="fa fa-whatsapp mr-3"></i> <a href="https://wa.me/+905523328888?text=i%20need%20flight%20ticket">  0552 332 88 88</a></li>
                    </ul>

                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item">

                                <a class="btn-floating btn-fb mx-1" href="http://facebook.com/bilet.gezegeni/" target="_blank"><i class="fa fa-facebook"> </i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-fb mx-1" href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"> </i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-fb mx-1" href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"> </i></a>
                            </li>
                            <li class="list-inline-item">
                                    <a class="btn-floating btn-fb mx-1" href="http://instagram.com/bilet_gezegeni" target="_blank"><i class="fa fa-instagram"> </i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
