<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Seyahat Hakkında</h3>
                    <p></p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>En iyi uçuş rotaları</h3>
                    <ul>
                        <li><a href="#">Manila flights</a></li>
                        <li><a href="#">Dubai flights</a></li>
                        <li><a href="#">Bangkok flights</a></li>
                        <li><a href="#">Tokyo Flight</a></li>
                        <li><a href="#">New York Flights</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>En ucuz uçuşlar</h3>
                    <ul>
                        <li><a href="#">Ukraina </a></li>
                        <li><a href="#">Iraq </a></li>
                        <li><a href="#">Malesia</a></li>
                        <li><a href="#">Cyprus </a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>İlginç Uçuşlar</h3>
                    <ul>
                        <li><a href="#">Beaches</a></li>
                        <li><a href="#">Family Travel</a></li>
                        <li><a href="#">Budget Travel</a></li>
                        <li><a href="#">Food &amp; Drink</a></li>
                        <li><a href="#">Honeymoon and Romance</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>En Lüks Tatiller</h3>
                    <ul>
                        <li><a href="#">Boracay</a></li>
                        <li><a href="#">Dubai</a></li>
                        <li><a href="#">Singapore</a></li>
                        <li><a href="#">Hongkong</a></li>
                    </ul>
                </div>
                  <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>İletişim</h3>
              <ul>
                        <li><i class="fa fa-home mr-3"></i><a href="#">  İstanbul, Mecidiyeköy 34200, TR</a></li>
                        <li><i class="fa fa-envelope mr-3"></i><a href="#">  info@biletgezegeni.com</a></li>
                        <li><i class="fa fa-phone mr-3"></i><a href="#">  0850 283 06 42</a></li>
                        <li><a href="#"><i class="fa fa-user mr-3"></i>  0552 332 88 88</a></li>
                    </ul>
              
        </div>   
                <div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
              <a href="http://facebook.com/bilet.gezegeni/" target="_blank"><i class="fa fa-facebook"> </i></a>
            
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
              <a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"> </i></a>
            
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
              <a href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"> </i></a>
            
          </a>
        </li>
        <li class="list-inline-item" >
            
          <a class="btn-floating btn-li mx-1">
            
              <a href="http://tr.linkedin.com/" target="_blank"><i class="fa fa-linkedin"> </i></a>
          </a>
        </li>
                           
                                
        
      </ul>
				
						</div>
					</div>
            </div>
        </div>
    </div>
</footer>