


<div id="map">
    <!-- How to change your own map point
           1. Go to Google Maps
           2. Click on your location point
           3. Click "Share" and choose "Embed map" tab
           4. Copy only URL and paste it within the src="" field below
    -->

    <iframe src="https://maps.google.com/maps?q=UPT%20MONEY%20TRANSFER%20RIA%26%20KORONA%20ZOLOTAYA%26WARRI&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="AltLogoContainer">
    <div class="container" style="padding: 0">
        <div class="logoPanel">
            <div class="AltLogolar hidden-sm hidden-xs"  style="width: 19%; display: inline-block; float: right; margin-top: 0">
                <a href="http://ticket-tr.com/" rel="external nofollow" class="main-ipektr-icon">
                    <img src="/images/tickettr-logo_Buyuk.png" />
                </a>
            </div>
            <div class="AltLogolar hidden-sm hidden-xs" style="width: 19%; display: inline-block; float: right; margin-top: 0">
                <a href="/">
                    <img alt="Biletall Logo" style="width: 80%;" src="https://biletall-cdn.mncdn.com/img/master/logo.png">
                </a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
              <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item"><i class="fa fa-home mr-3"></i><a href="#">  İstanbul, Mecidiyeköy 34200, TR</a></li>
                        <li class="list-inline-item"><i class="fa fa-envelope mr-3"></i><a href="#">  info@biletgezegeni.com</a></li>
                        <li class="list-inline-item"><i class="fa fa-phone mr-3"></i><a href="#">  0850 283 06 42</a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-user mr-3"></i>  0552 332 88 88</a></li>
                    </ul>
              
        </div>   
                <div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
       
              <a class="btn-floating btn-fb mx-1" href="http://facebook.com/bilet.gezegeni/" target="_blank"><i class="fa fa-facebook"> </i></a>
            
          </a>
        </li>
        <li class="list-inline-item">
              <a class="btn-floating btn-fb mx-1" href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"> </i></a>
            
          </a>
        </li>
        <li class="list-inline-item">
              <a  class="btn-floating btn-fb mx-1" href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"> </i></a>
            
          </a>
        </li>
        <li class="list-inline-item" >
            
          <a class="btn-floating btn-li mx-1">
            
              <a class="btn-floating btn-fb mx-1" href="http://instagram.com/bilet_gezegeni" target="_blank"><i class="fa fa-instagram"> </i></a>
          </a>
        </li>
                           
                                
        
      </ul>
				
						</div>
					</div>
            </div>
        </div>
</footer>