
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active">
            <i class="ace-icon fa fa-home home-icon"></i>
            Anasayfa
        </li>
    </ul>
</div>
<div id="fh5co-page">
    <!-- end:header-top -->
    <div class="fh5co-hero" ng-include src="'partials/ucusarama.html'">
        
    </div>

    <!--<div id="fh5co-tours" class="fh5co-section-gray" ng-include src="'partials/firsatlar.html'">
  
    </div>

    <div id="fh5co-features" ng-include src="'partials/paketler.html'">
    </div>


    <div id="fh5co-destination" ng-include src="'partials/populer.html'">
    </div>-->



    
</div>
<!-- END fh5co-page -->
<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <br>
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#signin" data-toggle="tab">Giriş</a></li>
                    <li class=""><a href="#signup" data-toggle="tab">Kayıt Ol</a></li>

                </ul>
            </div>
            <div class="modal-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in" id="why">
                        <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
                        <p></p><br> Please contact <a mailto:href="JoeSixPack@Sixpacksrus.com"></a>JoeSixPack@Sixpacksrus.com for any other inquiries.</p>
                    </div>
                    <div class="tab-pane fade active in" id="signin">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign In Form -->
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="userid">Kullanıcı Adı:</label>
                                    <div class="controls">
                                        <input required="" id="userid" name="userid" type="text" class="form-control input-medium" placeholder="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="passwordinput">Şifre:</label>
                                    <div class="controls">
                                        <input required="" id="passwordinput" name="passwordinput" class="form-control input-medium" type="password" placeholder="">
                                    </div>
                                </div>

                                <!-- Multiple Checkboxes (inline) -->
                                <div class="control-group">
                                    <label class="control-label" for="rememberme"></label>
                                    <div class="controls">
                                        <label class="checkbox inline" for="rememberme-0">
                                            <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                                            Beni Hatırla
                                        </label>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="signin"></label>
                                    <div class="controls">
                                        <button id="signin" name="signin" class="btn btn-success">Giriş</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signup">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign Up Form -->
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="Email">Email:</label>
                                    <div class="controls">
                                        <input id="Email" name="Email" class="form-control" type="text" placeholder="" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="regid">Kullanıcı Adı:</label>
                                    <div class="controls">
                                        <input id="regid" name="regid" class="form-control" type="text" placeholder="" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="regpassword">Şifre:</label>
                                    <div class="controls">
                                        <input id="regpassword" name="regpassword" class="form-control" type="password" placeholder="" class="input-large" required="">
                                        <em>max.8 karakter</em>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="reenterpassword">Şifre Tekrar:</label>
                                    <div class="controls">
                                        <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Multiple Radios (inline) -->
                                <br>
                                <div class="control-group">
                                    <label class="control-label" for="humancheck">Kontrol:</label>
                                    <div class="controls">

                                        <label class="radio inline" for="humancheck-1">
                                            <input type="radio" name="humancheck" id="humancheck-1" value="human">Ben İnsanım
                                        </label>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="confirmsignup"></label>
                                    <div class="controls">
                                        <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Kayıt</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </center>
            </div>
        </div>
    </div>
    </div>

