        <!-- Modernizr JS 
<script src="js/modernizr-2.6.2.min.js"></script>-->

<div id="fh5co-page">

    <div ng-include src="'partials/bilgezheader.html'">

    </div>

    <!-- end:header-top -->

    <div class="fh5co-hero" ng-include src="'partials/ucusarama.html'">
        
    </div>

    <div id="fh5co-tours" class="fh5co-section-gray" ng-include src="'partials/firsatlar.html'">
  
    </div>

    <div id="fh5co-features" ng-include src="'partials/paketler.html'">
    </div>


    <div id="fh5co-destination" ng-include src="'partials/populer.html'">
    </div>



    <footer>
        <div id="footer">
            <div class="container">
                <div class="row row-bottom-padded-md">
                    <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                        <h3>Seyahat Hakkında</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                        <h3>En iyi uçuş rotaları</h3>
                        <ul>
                            <li><a href="#">Manila flights</a></li>
                            <li><a href="#">Dubai flights</a></li>
                            <li><a href="#">Bangkok flights</a></li>
                            <li><a href="#">Tokyo Flight</a></li>
                            <li><a href="#">New York Flights</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                        <h3>En ucuz uçuşlar</h3>
                        <ul>
                            <li><a href="#">Ukraina </a></li>
                            <li><a href="#">Iraq </a></li>
                            <li><a href="#">Malesia</a></li>
                            <li><a href="#">Cyprus </a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                        <h3>İlginç Uçuşlar</h3>
                        <ul>
                            <li><a href="#">Beaches</a></li>
                            <li><a href="#">Family Travel</a></li>
                            <li><a href="#">Budget Travel</a></li>
                            <li><a href="#">Food &amp; Drink</a></li>
                            <li><a href="#">Honeymoon and Romance</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                        <h3>En Lüks Tatiller</h3>
                        <ul>
                            <li><a href="#">Boracay</a></li>
                            <li><a href="#">Dubai</a></li>
                            <li><a href="#">Singapore</a></li>
                            <li><a href="#">Hongkong</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- END fh5co-page -->
<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <br>
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#signin" data-toggle="tab">Giriş</a></li>
                    <li class=""><a href="#signup" data-toggle="tab">Kayıt Ol</a></li>

                </ul>
            </div>
            <div class="modal-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in" id="why">
                        <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
                        <p></p><br> Please contact <a mailto:href="JoeSixPack@Sixpacksrus.com"></a>JoeSixPack@Sixpacksrus.com for any other inquiries.</p>
                    </div>
                    <div class="tab-pane fade active in" id="signin">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign In Form -->
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="userid">Kullanıcı Adı:</label>
                                    <div class="controls">
                                        <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="" class="input-medium" required="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="passwordinput">Şifre:</label>
                                    <div class="controls">
                                        <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="" class="input-medium">
                                    </div>
                                </div>

                                <!-- Multiple Checkboxes (inline) -->
                                <div class="control-group">
                                    <label class="control-label" for="rememberme"></label>
                                    <div class="controls">
                                        <label class="checkbox inline" for="rememberme-0">
                                            <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                                            Beni Hatırla
                                        </label>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="signin"></label>
                                    <div class="controls">
                                        <button id="signin" name="signin" class="btn btn-success">Giriş</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signup">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign Up Form -->
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="Email">Email:</label>
                                    <div class="controls">
                                        <input id="Email" name="Email" class="form-control" type="text" placeholder="" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="userid">Kullanıcı Adı:</label>
                                    <div class="controls">
                                        <input id="userid" name="userid" class="form-control" type="text" placeholder="" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="password">Şifre:</label>
                                    <div class="controls">
                                        <input id="password" name="password" class="form-control" type="password" placeholder="" class="input-large" required="">
                                        <em>max.8 karakter</em>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="reenterpassword">Şifre Tekrar:</label>
                                    <div class="controls">
                                        <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Multiple Radios (inline) -->
                                <br>
                                <div class="control-group">
                                    <label class="control-label" for="humancheck">Kontrol:</label>
                                    <div class="controls">

                                        <label class="radio inline" for="humancheck-1">
                                            <input type="radio" name="humancheck" id="humancheck-1" value="human">Ben İnsanım
                                        </label>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="confirmsignup"></label>
                                    <div class="controls">
                                        <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Kayıt</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </center>
            </div>
        </div>
    </div>
</div>
<script src="js/main.js"></script>
