


<div class="fh5co-overlay"></div>
<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover.jpg);">
    <div class="desc">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <div class="tabulation animate-box">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Uçuşlar</a>
                            </li>

                        </ul>
                        <style>
                            .full button span {
                                background-color: limegreen;
                                border-radius: 32px;
                                color: black;
                            }

                            .partially button span {
                                background-color: orange;
                                border-radius: 32px;
                                color: black;
                            }
                        </style>
                 
    
                        
                        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <form >
                                <div role="tabpanel" class="tab-pane active" id="flights">
                                    <div class="row">
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-group">
                                                <label for="from-place">Nereden:</label>
                                                <input type="text" list="hvlist" class="form-control"  placeholder="" ng-model="ucusgirdi.nereden"  uib-typeahead="hv as hv.name for hv in getLocation($viewValue)" typeahead-loading="loadingLocations" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-group">
                                                <label for="to-place">Nereye:</label>
                                                <input type="text" class="form-control"  placeholder=""  ng-model="ucusgirdi.nereye" uib-typeahead="hv as hv.name for hv in getLocation($viewValue)" typeahead-loading="loadingLocations"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-group">
                                                <label for="date-start">Check In:</label>
                                                <input type="text" class="form-control"  placeholder="Gün/Ay/Yıl" uib-datepicker-popup="dd/MM/yyyy" ng-model="ucusgirdi.checkin" is-open="popup.acik"  close-text="Kapat"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary btn-sm full" ng-click="datesecac()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-group">
                                                <label for="date-end">Check Out:</label>
                                                <input type="text" class="form-control"  placeholder="Gün/Ay/Yıl"  uib-datepicker-popup="dd/MM/yyyy" ng-model="ucusgirdi.checkout" is-open="popup2.acik"  close-text="Kapat"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary btn-sm" ng-click="datesecac2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt">
                                            <section>
													<label for="class">Sınıf:</label>
													<select class="form-control">
														<option value="" enabled selected>Ekonomi</option>
														
														<option value="first">Birinci Sınıf</option>
														<option value="business">Business</option>
													</select>
												</section>

                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label for="yetismus">Yetişkin:</label>
                                                <select class="form-control" id="yetismus" ng-model="ucusgirdi.yetismus">
                                                    <option value="" enabled selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label for="cocukmus">Çocuk:</label>
                                                <select class="form-control" id="cocukmus" ng-model="ucusgirdi.cocukmus">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </section>
                                        </div>
                                        
                                        
                                        <div class="col-xs-12">
                                            <!--<input type="submit" class="btn btn-primary btn-block" value="Uçuş Ara">-->
                                            <input type="submit" class="btn btn-primary btn-block" value="Uçuş Ara" ng-click="ucusara(ucusgirdi)">

                                        </div>
                                    </div>
                                </div>
                            </form>

                      
                        </div>

                    </div>
                </div>
                <div class="desc2 animate-box">
                    <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
                        
                        <h2>En  uygun uçuşlar </h2>
                        <h3>Şimdilik sadece dünya</h3>
                        <span class="price"></span>
                        <!--<h4>Asynchronous results</h4>
                        <pre>Model: {{asyncSelected | json}}</pre>
                        <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="hv.state for hv in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>-->
                        <!-- <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
