    <!-- Bootstrap -->
<link href="css/custom.css" rel="stylesheet" media="screen">
<!-- Updates -->
<link href="css/style01.css" rel="stylesheet" media="screen">
<!-- Carousel -->
<link href="examples/carousel/carousel.css" rel="stylesheet">

<div class="btn-group btn-breadcrumb">
            <a href="#!" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#!/ucuslar/{{aynilink()}}" class="btn btn-primary">Uçuşlar</a>
            
            
        </div>
<div class="container">
<div id="fh5co-page">
    <!-- end:header-top -->
    <br /><br />
    <div class="clearfix"></div>


    <div class="itemscontainer offset-1">


        <div id="{{ucus._id}}" class="offset-2" ng-repeat="ucus in ucuslist">
            <div class="fblueline"><b>{{ucus.nereden.city}}</b>{{ucus.nereden.country}}  <span class="farrow"></span> <b>{{ucus.nereye.city}}</b> {{ucus.nereye.country}}</div>


            <!-- GOING TICKET-->
            <div class="frow1">
                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/tarom.png" alt="">
                    </li>
                    <li class="ft2">
                        Kalkış<br />
                        <span class="grey">{{ucus.departure.tarih}}</span><br />
                        <span class="size16 dark bold">{{ucus.departure.saat}}</span><br />
                    </li>
                    <li class="ft3">
                        Varış<br />
                        <span class="grey">{{ucus.arrival.tarih}}</span><br />
                        <span class="size16 dark bold">{{ucus.arrival.saat}}</span><br />
                    </li>
                    <li class="ft4">
                        Uçuş<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse{{ucus._id}}">Daha Fazla</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />
            </div>

            <div class="collapse frowexpand" id="collapse{{ucus._id}}">

                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Süre<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Aktarmalar<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Boş Koltuk<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse{{ucus._id}}">Gizle</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>


            <div class="fgreenline"><b>{{ucus.nereye.state}}</b> {{ucus.nereye.city}} <span class="farrow"></span><b>{{ucus.nereden.state}}</b>{{ucus.nereden.city}}</div>

            <!-- RETURNING TICKET-->
            <div class="frow2">

                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/tarom.png" alt="">
                    </li>
                    <li class="ft2">
                        Kalkış<br />
                        <span class="grey">{{ucus.departure.tarih}}</span><br />
                        <span class="size16 dark bold">{{ucus.departure.saat}}</span><br />
                    </li>
                    <li class="ft3">
                        Varış<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Uçuş<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse12">Daha Fazla</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>
            <div class="collapse frowexpand" id="collapse12">

                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Süre<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Aktarmalar<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Boş Koltuk<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse12">Gizle</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />


                <div class="clearfix"></div>
            </div>
            <!-- END OF RETURNING TICKET -->


            <div class="fselect">
                <span class="size12 lightgrey">Yolculuk / Kişi Başı</span> <span class="size18 green bold">$770</span>&nbsp; <button class="selectbtn mt1" type="button" ng-click="sec(ucus._id)">Seç</button>
            </div>
        </div>

    </div>
    <!-- End of offset1-->

    <div class="hpadding20">

        <ul class="pagination right paddingbtm20">
            <li class="disabled"><a href="#!/ucuslar/{{aynilink()}}">&laquo;</a></li>
            <li><a href="#!/ucuslar/{{aynilink()}}">1</a></li>
            <li><a href="#!/ucuslar/{{aynilink()}}">2</a></li>
            <li><a href="#!/ucuslar/{{aynilink()}}">3</a></li>

            <li><a href="#!/ucuslar/{{aynilink()}}">&raquo;</a></li>
        </ul>

    </div>
</div>
</div>


<!-- Javascript -->	
    <script src="js/js-list4.js"></script>	
	<script src="js/js-payment.js"></script>
	
    <!-- Custom Select -->
	<script type='text/javascript' src='js/jquery.customSelect.js'></script>
	
    <!-- Custom Select -->
	<script type='text/javascript' src='js/lightbox.js'></script>	
	
    <!-- JS Ease -->	
    <script src="js/jquery.easing.js"></script>
	
    <!-- Custom functions -->
    <script src="js/functions.js"></script>
	
    <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
	
    <!-- CarouFredSel -->
	<script src="js/js-flights.js"></script>		
    <script src="updates/update1/js/jquery.carouFredSel-wrapper2.js"></script>
    <script src="assets/js/helper-plugins/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="assets/js/helper-plugins/jquery.transit.min.js"></script>
	<script type="text/javascript" src="assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

    <!-- Counter -->	
    <script src="assets/js/counter.js"></script>	
	
    <!-- Nicescroll  -->	
	<script src="js/jquery.nicescroll.min.js"></script>
	
    <!-- Picker -->	
	<script src="js/jquery-ui.js"></script>
	
    <!-- Bootstrap -->	
    <script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>









<!--<div>
    <table>
        <tr><th>havayolu</th>
<th>kalkış</th>
<th>süre</th>
<th>varış</th>
<th>fiyat (tek kişi)</th>
<th>aksiyon</th>
</tr>
        <tr ng-repeat="ucus in ucuslist">
            <td>{{ucus.nereden}}</td>
            <td>{{ucus.tarih}}</td>
            <td>{{ucus.sure}}</td>
            <td>{{ucus.nereye}}</td>
            <td>{{ucus.fiyat[0]}}</td>
            <td><button ng-click="sec(ucus._id)">SEC</button></td>

        </tr>

    </table>
</div>-->

