
<link href="css/custom.css" rel="stylesheet" media="screen">

<!-- Updates -->
<link href="css/style01.css" rel="stylesheet" media="screen">


<link href="examples/carousel/carousel.css" rel="stylesheet">
<div class="btn-group btn-breadcrumb">
            <a href="#!" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#!/ucuslar/:nereden/:nereye/:checkin/:checkout/:yet/:cocuk" class="btn btn-primary">Uçuşlar</a>
            <a href="#!/ucuslar/:ucusid" class="btn btn-primary">Uçuş Bilgileri</a>
            
        </div>
<div class="container">
<div id="fh5co-page">
    
    <!-- end:header-top -->
    <div class="container pagecontainer offset-0">
        <!-- LEFT CONTENT -->
        <div class="col-md-8 pagecontainer2 offset-0">

            <div class="padding30 grey">


                <span class="size16px bold dark left">Yolcular</span>
                <div class="roundstep active right">1</div>
                <div class="clearfix"></div>
                <div class="line4"></div>

                <!-- ROW -->
                <div class="row">

                    <div class="col-md-4">
                        <span class="size13 dark">Soyadı*</span>
                        <input type="text" class="form-control " placeholder="" ng-model="user.surname">
                    </div>
                    <div class="col-md-4">
                        <span class="size13 dark">Adı*</span>
                        <input type="text" class="form-control " placeholder="" ng-model="user.name">
                    </div>
                    <div class="col-md-4">
                        <div class="w50percent">
                            <span class="size13 dark">Doğum Tarihi*</span>
                            <input type="text" class="form-control mySelectCalendar" id="datepicker3" placeholder="Gün/Ay/Yıl" ng-model="user.birthday"/>
                        </div>
                        <div class="w50percentlast">
                            <div class="w90percentlast right">
                                &nbsp;<br />
                                <div class="radio radiomargin0">
                                    <label>
                                        <input type="radio" checked="" name="optionsRadios2" id="optionsRadios2" value="male" ng-model="user.sex">
                                        Erkek
                                    </label>
                                </div>
                                <div class="radio radiomargin0">
                                    <label>
                                        <input type="radio" name="optionsRadios2" id="optionsRadios2" value="female" ng-model="user.sex">
                                        Bayan
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div><br />

                    <div class="col-md-4">
                        <span class="size13 dark">Uyruk*</span>
                        <select class="form-control mySelectBoxClass">
                            <option selected>Turkey</option>
                            <option>United Kingdom</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <span class="size13 dark">Seri Numarası*</span>
                        <input type="text" class="form-control " placeholder="">
                    </div>
                    <div class="col-md-4">
                        <span class="size13 dark">Son Kullanma Tarihi*</span>
                        <input type="text" class="form-control mySelectCalendar" id="datepicker3" placeholder="Gün/Ay/Yıl" />
                    </div>

                    <div class="clearfix"></div><br />

                  
                  
                  
                    <div class="clearfix"></div>

                </div>
                <!-- END OF ROW -->


                <br />
                <div class="fdash"></div>
                <br />


                <!-- ROW 
                <div class="row">

                    <div class="col-md-4">
                        <span class="size13 dark">Surname*</span>
                        <input type="text" class="form-control " placeholder="">
                    </div>
                    <div class="col-md-4">
                        <span class="size13 dark">Name*</span>
                        <input type="text" class="form-control " placeholder="">
                    </div>
                    <div class="col-md-4">
                        <div class="w50percent">
                            <span class="size13 dark">Date of birth*</span>
                            <input type="text" class="form-control mySelectCalendar" id="datepicker3" placeholder="mm/dd/yyyy" />
                        </div>
                        <div class="w50percentlast">
                            <div class="w90percentlast right">
                                &nbsp;<br />
                                <div class="radio radiomargin0">
                                    <label>
                                        <input type="radio" checked="" name="optionsRadios" id="optionsRadios3" value="option3">
                                        Male
                                    </label>
                                </div>
                                <div class="radio radiomargin0">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div><br />

                    <div class="col-md-4">
                        <span class="size13 dark">Citizenship*</span>
                        <select class="form-control mySelectBoxClass">
                            <option selected>United States of America</option>
                            <option>United Kingdom</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <span class="size13 dark">Document series and number*</span>
                        <input type="text" class="form-control " placeholder="">
                    </div>
                    <div class="col-md-4">
                        <span class="size13 dark">Expiry date (if specified)*</span>
                        <input type="text" class="form-control mySelectCalendar" id="datepicker3" placeholder="mm/dd/yyyy" />
                    </div>

                    <div class="clearfix"></div><br />

                    <div class="col-md-4">
                        <div class="checkbox mt-5">
                            <label>
                                <input type="checkbox">Bonus card OneWorld
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <fieldset disabled="">
                            <select class="form-control mySelectBoxClass">
                                <option selected>Air Berlin</option>
                                <option>Air Berlin</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset disabled="">
                            <select class="form-control mySelectBoxClass" id="disabledSelect">
                                <option selected>Card number</option>
                                <option>xxx-xxx-xxx-732</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <!-- END OF ROW -->











                <br />
                <br />



                <span class="size16px bold dark left">Müşteri </span>
                <div class="roundstep right">2</div>
                <div class="clearfix"></div>
                <div class="line4"></div>
                Lütfen kimin kontrol edeceğini belirtin. 18 yaşında veya daha büyük olmalı. <br /><br />

                <div class="col-md-4 textright">
                    <div class="margtop15"><span class="dark">İletişim Adı:</span><span class="red">*</span></div>
                </div>
                <div class="col-md-4">
                    <span class="size12">Adı ve Soyadı*</span>
                    <input type="text" class="form-control " placeholder="">
                </div>
                <div class="col-md-4 textleft margtop15">
                </div>
                <div class="clearfix"></div>

                <br />
                <div class="col-md-4 textright">
                    <div class="margtop7"><span class="dark">Telefon No:</span><span class="red">*</span></div>
                </div>
                <div class="col-md-4">
                    <span class="size12">Ülke Kodu*</span>
                    <select class="form-control mySelectBoxClass">
                        <option selected>+90</option>
                        <option>+39</option>
                    </select>
                </div>
                <div class="col-md-4 textleft">
                    <span class="size12">(5**)***-**-**)</span>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="clearfix"></div>

                <br />
                <div class="col-md-4">
                </div>
                <div class="col-md-8 textleft">
                   Özel İstekler(İsteğe Bağlı)
                    <!-- Collapse 3 -->
                    <button type="button" class="collapsebtn3 collapsed mt-5" data-toggle="collapse" data-target="#collapse3"></button>
                    <div id="collapse3" class="collapse">
                        <textarea rows="3" class="form-control margtop10"></textarea>
                    </div>
                    <!-- End of collapse 3 -->
                    <div class="clearfix"></div>


                </div>
                <div class="clearfix"></div>


                <br />
                <br />
                <span class="size16px bold dark left">Ödemeyi nasıl yapacağım?</span>
                <div class="roundstep right">3</div>
                <div class="clearfix"></div>
                <div class="line4"></div>



                <br />
                <div class="col-md-4">
                </div>
               
                <div class="col-md-4 textleft">
                </div>
                <div class="clearfix"></div>


                <br />
                <!-- Nav tabs  !!! MODAL ANGULAR BOOTSTRAP İLE GUNCELLENMELİ EKSİK-->
                <ul class="nav navigation-tabs">
                    <li class="active"><a href="" data-toggle="tab">Credit/Debit card</a></li>
                    
                </ul>

                <!-- Tab panes -->
                <div class="tab-content4">

                    <!-- Tab 1 -->
                    <div class="tab-pane active" id="card">

                        <div class="col-md-4 textright">
                            <div class="margtop15"><span class="dark">Kart Numarası:</span><span class="red">*</span></div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control margtop10" placeholder="">
                        </div>
                        <div class="col-md-4 textleft">
                        </div>
                        <div class="clearfix"></div>

                        <br />
                        <div class="col-md-4 textright">
                            <div class="margtop7"><span class="dark">Kart Tipi:</span><span class="red">*</span></div>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control mySelectBoxClass">
                                <option selected>VİSA</option>
                                <option>MASTER</option>
                            </select>
                        </div>
                        <div class="col-md-4 textleft">
                        </div>
                        <div class="clearfix"></div>

                        <br />
                        <div class="col-md-4 textright">
                            <div class="margtop7"><span class="dark">Son Kullanma Tarihi:</span><span class="red">*</span></div>
                        </div>
                        <div class="col-md-4">

                            <div class="w50percent">
                                <div class="wh90percent">
                                    <select class="form-control mySelectBoxClass">
                                        <option selected> OCAK</option>
                                        <option> ŞUBAT</option>
                                        <option> MART</option>
                                        <option> NİSAN</option>
                                        <option> MAYIS</option>
                                        <option> HAZİRAN</option>
                                        <option> TEMMUZ</option>
                                        <option> AĞUSTOS</option>
                                        <option> EYLÜL</option>
                                        <option> EKİM</option>
                                        <option> KASIM</option>
                                        <option> ARALIK</option>
                                    </select>
                                </div>
                            </div>
                            <div class="w50percentlast">
                                <div class="wh90percent right">
                                    <select class="form-control mySelectBoxClass">
                                        <option selected>2018</option>
                                        <option>2019</option>
                                        <option>2020</option>
                                        <option>2021</option>
                                        <option>2022</option>
                                        <option>2023</option>
                                        <option>2024</option>
                                        <option>2025</option>
                                        <option>2026</option>
                                        <option>2027</option>
                                        <option>2028</option>
                                        <option>2029</option>
                                        <option>2030</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 textleft">
                        </div>
                        <div class="clearfix"></div>


                        <br />
                        <div class="col-md-4 textright">
                            <div class="margtop15"><span class="dark">Kart Kimlik No:</span><span class="red">*</span></div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control margtop10" placeholder="">
                        </div>
                        
                        <div class="clearfix"></div>


                       
                        <div class="col-md-4 textleft margtop15">
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-4 textright">
                            <div class="margtop15"><span class="dark"> Kart Sahibi :</span><span class="red">*</span></div>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control margtop10" placeholder="">
                        </div>
                        
                        <div class="clearfix"></div>

                    </div>
                    <!-- End of Tab 1 -->
                    <!-- Tab 2 -->
                    <div class="tab-pane" id="paypal">

                        <div class="alert alert-warning fade in">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Önemli:</strong>Ödemenizi güvenli bir şekilde tamamlamak için kartınızın web sitesine yönlendirileceksiniz.
                        </div>

                        <button type="submit" class="btn-search5">Ödemeyi Onayla</button>

                    </div>
                    <!-- End of Tab 2 -->
                </div>


                <br />
                <br />
                <span class="size16px bold dark left">Onayınızı nereye göndermeliyiz?</span>
                <div class="roundstep right">4</div>
                <div class="clearfix"></div>
                <div class="line4"></div>
                Lütfen onayınızı almak istediğiniz e-posta adresini giriniz.<br />


                <div class="col-md-4 textright">
                    <div class="mt15"><span class="dark">Email Adres:</span><span class="red">*</span></div>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control margtop10" placeholder="">
                </div>
                <div class="col-md-4 textleft">
                </div>
                <div class="clearfix"></div>

                <br />
                <br />
                <span class="size16px bold dark left">Seyahati Görüntüle</span>
                <div class="roundstep right">5</div>
                <div class="clearfix"></div>
                <div class="line4"></div>

                <div class="alert alert-info">
                    Dikkat! Lütfen önemli uçuş bilgilerini okuyun!<br />
                    <p class="size12">
                        •Yabancı ortaklar tarafından sunulan sürümü seçtiniz. Vize verilmesi durumunda red, hastalık, vb.
                        para cezası olmadan geri ödeme imkansızdır! Bilet, havayolu kurallarına göre iade edilir.
                    </p>
                </div>
                Bu rezervasyonu tamamlamayı seçerek  <a href="#" class="clblue">
                    kurallar &
                    kısıtlamalar,
                </a> <a href="#" class="clblue">şartlar & koşullar</a> , ve <a href="#" class="clblue">gizlilik politikasını</a> kabul ediyorum.	<br />

                <button type="submit" class="bluebtn margtop20" ng-click="complete(user)">SEYAHATİ TAMAMLA</button>


            </div>

        </div>
        <!-- END OF LEFT CONTENT -->
        <!-- RIGHT CONTENT -->
        <div class="col-md-4">

            <div class="pagecontainer2 paymentbox grey">
                <div class="padding20">
                    <span class="opensans size18 dark bold">Uçuş Özeti</span>
                </div>
                <div class="line3"></div>

                <div class="hpadding30 margtop30">


                    <!-- GOING TO -->
                    <div>
                        <div class="wh33percent left size12 bold dark">
                            {{ubilgi.nereden.code}}
                        </div>
                        <div class="wh33percent left center size12 bold dark">
                            {{ubilgi.aktarma}}
                        </div>
                        <div class="wh33percent right textright size12 bold dark">
                            {{ubilgi.nereye.code}}
                        </div>
                        <div class="clearfix"></div>

                        <div class="wh33percent left">
                            <div class="fcircle">
                                <span class="fdeparture"></span>
                            </div>
                        </div>
                        <div class="wh33percent left">
                            <div class="fcircle center">
                                <span class="fstop"></span>
                            </div>
                        </div>
                        <div class="wh33percent right">
                            <div class="fcircle right">
                                <span class="farrival"></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="fline2px"></div>

                        <div class="wh33percent left size12">
                            {{ubilgi.departure}}
                        </div>
                        <div class="wh33percent left center size12">
                            {{ubilgi.sure}}
                        </div>
                        <div class="wh33percent right textright size12">
                            {{ubilgi.arrival}}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- END OF GOING TO -->

                    <br />

                    <!-- RETURNING -->
                    <div>
                        <div class="wh33percent left size12 bold dark">
                            {{ubilgi.nereye.code}}
                        </div>
                        <div class="wh33percent left center size12 bold dark">
                            {{ubilgi.actarma}}
                        </div>
                        <div class="wh33percent right textright size12 bold dark">
                            {{ubilgi.nereden.code}}
                        </div>
                        <div class="clearfix"></div>

                        <div class="wh33percent left">
                            <div class="fcircle">
                                <span class="fdeparture"></span>
                            </div>
                        </div>
                        <div class="wh33percent left">
                            <div class="fcircle center">
                                <span class="fstop"></span>
                            </div>
                        </div>
                        <div class="wh33percent right">
                            <div class="fcircle right">
                                <span class="farrival"></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="fline2px"></div>

                        <div class="wh33percent left size12">
                            17:00 PM
                        </div>
                        <div class="wh33percent left center size12">
                            1 h 00 m
                        </div>
                        <div class="wh33percent right textright size12">
                            21:35 PM
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- END OF RETURNING -->


                    <br />



                    <span class="dark">2 Bilet: Gidiş-Dönüş</span>
                    <div class="fdash mt10"></div><br />
                    Yolcu 1: Yetişkin <span class="right bold green">787 TL</span>
                    <!-- Collapse 1 -->
                    <button type="button" class="collapsebtn3 collapsed mt-5" data-toggle="collapse" data-target="#collapse1"></button>
                    <div id="collapse1" class="collapse in">
                        <div class="left size14">
                            Uçuş<br />
                            Vergiler & ücretler
                        </div>
                        <div class="right size14">
                            458 TL<br />
                            329 TL
                        </div><div class="clearfix"></div>
                    </div>
                    <!-- End of collapse 1 -->

                    <div class="fdash mt10"></div><br />

                    Yolcu 2: Yetişkin <span class="right bold green">787 TL</span>
                    <!-- Collapse 1 -->
                    <button type="button" class="collapsebtn3 collapsed mt-5" data-toggle="collapse" data-target="#collapse2"></button>
                    <div id="collapse2" class="collapse">
                        <div class="left size14">
                            Uçuş<br />
                            Vergiler & Ücretler
                        </div>
                        <div class="right size14">
                            458 TL<br />
                            329 TL
                        </div><div class="clearfix"></div>
                    </div>
                    <!-- End of collapse 1 -->



                    <br />
                    <br />



                </div>
                <div class="line3"></div>
                <div class="padding30">
                    <span class="left size14 dark">Seyehat Toplam:</span>
                    <span class="right lred2 bold size18">1,574 TL</span>
                    <div class="clearfix"></div>
                </div>


            </div><br />

            <div class="pagecontainer2 needassistancebox">
                <div class="cpadding1">
                    <span class="icon-help"></span>
                    <h3 class="opensans">Yardım için?</h3>
                    <p class="size14 grey">Ekibimiz, rezervasyon sorunlarınızda size yardımcı olmak veya ilgili soruları yanıtlamak için 7/24 hizmetinizdedir.</p>
                    <p class="opensans size30 lblue xslim">(542) 790 35 12</p>
                </div>
            </div><br />

            <div class="pagecontainer2 loginbox">
                <div class="cpadding1">
                    <span class="icon-lockk"></span>
                    <h3 class="opensans">Giriş</h3>
                    <input type="text" class="form-control logpadding" placeholder="Kullanıcı Adı">
                    <br />
                    <input type="text" class="form-control logpadding" placeholder="Şifre">
                    <div class="margtop20">
                        <div class="left">
                            <div class="checkbox padding0">
                                <label>
                                    <input type="checkbox">Beni Hatırla
                                </label>
                            </div>
                            <a href="#" class="greylink">Şifremi Kaybettim?</a><br />
                        </div>
                        <div class="right">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                                <i class="ace-icon fa fa-key"></i>
                                Giriş
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div><br />
                </div>
            </div><br />

        </div>
        <!-- END OF RIGHT CONTENT -->

    </div>
</div>
</div>






<!--<p>UÇUŞ BİLGİLERİ YÜKLENECEK - NEREDEN NEREYE SAAT KAÇTA HANGİ FİYATA - MÜŞTERİ BİLGİLERİ İSTENECEK - TEL NO VB. EĞER ÜYE İSE O DA OTAMATİK YÜKLENECEK - ÖDEME EKRANINA GEÇMEK İÇİN POST</p>--!>

	<!-- Javascript  -->


<!-- Nicescroll  -->
<script src="js/jquery.nicescroll.min.js"></script>

<!-- Custom functions -->
<script src="js/functions.js"></script>

<!-- Custom Select -->
<script type='text/javascript' src='js/jquery.customSelect.js'></script>

<!-- Load Animo -->
<script src="plugins/animo/animo.js"></script>

<!-- Picker -->
<script src="js/jquery-ui.js"></script>

<!-- Picker -->
<script src="js/jquery.easing.js"></script>	