<div class="btn-group btn-breadcrumb">
            <a href="#!" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#!/ucuslar" class="btn btn-primary">Uçuşlar</a>
            <a href="#!/ucusbilgileri" class="btn btn-primary">Uçuş Bilgileri</a>
            
        </div>
<div class="container">
<div id="fh5co-page">
    <!-- end:header-top -->
    <div class="container pagecontainer offset-0" ng-include src="'/z-flights-payment.html'">
        
    </div>
</div>
</div>






<p>UÇUŞ BİLGİLERİ YÜKLENECEK - NEREDEN NEREYE SAAT KAÇTA HANGİ FİYATA - MÜŞTERİ BİLGİLERİ İSTENECEK - TEL NO VB. EĞER ÜYE İSE O DA OTAMATİK YÜKLENECEK - ÖDEME EKRANINA GEÇMEK İÇİN POST</p>