    <!-- Bootstrap -->
<link href="css/custom.css" rel="stylesheet" media="screen">
<!-- Updates -->
<link href="css/style01.css" rel="stylesheet" media="screen">
<!-- Carousel -->
<link href="examples/carousel/carousel.css" rel="stylesheet">

<div class="btn-group btn-breadcrumb">
            <a href="#!" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#!/ucuslar" class="btn btn-primary">Uçuşlar</a>
            
            
        </div>
<div class="container">
<div id="fh5co-page">
    <!-- end:header-top -->
    <br /><br />
    <div class="clearfix"></div>


    <div class="itemscontainer offset-1">


        <!-- FLIGHT TICKET-->
        <div id="ticketid0123" class="offset-2">
            <div class="fblueline"><b>Bucharest</b> Otopeni <span class="farrow"></span> <b>London</b> Heathrow</div>


            <!-- GOING TICKET-->
            <div class="frow1">
                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/tarom.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsFradios">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />
            </div>

            <div class="collapse frowexpand" id="collapse10">

                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>

            <div class="frow2">


                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/tarom.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" value="option1" id="optionsRadios1" name="optionsFradios">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />


            </div>
            <div class="collapse frowexpand" id="collapse11">

                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>
            <!-- END OF GOING TICKET-->

            <div class="fgreenline"><b>London</b> Heathrow <span class="farrow"></span> <b>Bucharest</b> Otopeni</div>

            <!-- RETURNING TICKET-->
            <div class="frow2">

                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/tarom.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" checked="" value="option2" id="optionsRadios2" name="optionsFradios2">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse12">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>
            <div class="collapse frowexpand" id="collapse12">

                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse12">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />


                <div class="clearfix"></div>
            </div>
            <!-- END OF RETURNING TICKET -->


            <div class="fselect">
                <span class="size12 lightgrey">Roundtrip / per person</span> <span class="size18 green bold">$770</span>&nbsp; <button class="selectbtn mt1" type="button">Select</button>
            </div>
        </div>
        <!-- END OF FLIGHT TICKET-->
        <!-- FLIGHT TICKET-->
        <div id="ticketid0124" class="offset-2 margtop40">
            <div class="fblueline"><b>Bucharest</b> Otopeni <span class="farrow"></span> <b>London</b> Heathrow</div>

            <!-- GOING TICKET-->
            <div class="frow1">

                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/wizz.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" value="option3" id="optionsRadios3" name="optionsFradios3">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse13">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>
            <div class="collapse in frowexpand" id="collapse13">


                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse13">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />


                <div class="clearfix"></div>
            </div>

            <!-- END OF GOING TICKET-->

            <div class="fgreenline"><b>London</b> Heathrow <span class="farrow"></span> <b>Bucharest</b> Otopeni</div>

            <!-- RETURNING TICKET-->
            <div class="frow2">

                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/wizz.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" value="option4" id="optionsRadios4" name="optionsFradios4">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse14">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>
            <div class="collapse frowexpand" id="collapse14">


                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse14">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />


                <div class="clearfix"></div>
            </div>
            <!-- END OF RETURNING TICKET -->


            <div class="fselect">
                <span class="size12 lightgrey">Roundtrip / per person</span> <span class="size18 green bold">$770</span>&nbsp; <button class="selectbtn mt1" type="button" ng-click="sec(ucus._id)">Seç</button>
            </div>
        </div>
        <!-- END OF FLIGHT TICKET-->
        <!-- FLIGHT TICKET-->
        <div id="ticketid0125" class="offset-2 margtop40">
            <div class="fblueline"><b>Bucharest</b> Otopeni <span class="farrow"></span> <b>London</b> Heathrow</div>

            <!-- GOING TICKET-->
            <div class="frow1">

                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/emirates.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" value="option5" id="optionsRadios5" name="optionsFradios5">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse15">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>
            <div class="collapse frowexpand" id="collapse15">


                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse15">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />


                <div class="clearfix"></div>
            </div>

            <!-- END OF GOING TICKET-->

            <div class="fgreenline"><b>London</b> Heathrow <span class="farrow"></span> <b>Bucharest</b> Otopeni</div>

            <!-- RETURNING TICKET-->
            <div class="frow2">
                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/emirates.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" value="option6" id="optionsRadios6" name="optionsFradios6">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse16">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />
            </div>
            <div class="collapse frowexpand" id="collapse16">


                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse16">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />


                <div class="clearfix"></div>
            </div>
            <!-- END OF RETURNING TICKET -->


            <div class="fselect">
                <span class="size12 lightgrey">Roundtrip / per person</span> <span class="size18 green bold">$770</span>&nbsp; <button class="selectbtn mt1" type="button">Select</button>
            </div>
        </div>
        <!-- END OF FLIGHT TICKET-->
        <!-- FLIGHT TICKET-->
        <div id="ticketid0126" class="offset-2 margtop40">
            <div class="fblueline"><b>Bucharest</b> Otopeni <span class="farrow"></span> <b>London</b> Heathrow</div>

            <!-- GOING TICKET-->
            <div class="frow1">

                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/airfrance.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" value="option7" id="optionsRadios7" name="optionsFradios7">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse17">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />

            </div>
            <div class="collapse frowexpand" id="collapse17">


                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse17">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />


                <div class="clearfix"></div>
            </div>

            <!-- END OF GOING TICKET-->

            <div class="fgreenline"><b>London</b> Heathrow <span class="farrow"></span> <b>Bucharest</b> Otopeni</div>

            <!-- RETURNING TICKET-->
            <div class="frow2">
                <ul class="flightstable mt20">
                    <li class="ft1">
                        <img src="updates/update1/img/airfrance.png" alt="">
                    </li>
                    <li class="ft2">
                        <div class="radio radiomargin0">
                            <label>
                                <input type="radio" value="option8" id="optionsRadios8" name="optionsFradios8">
                                Departure
                            </label>
                        </div>
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">14:00</span><br />
                    </li>
                    <li class="ft3">
                        Arrival<br />
                        <span class="grey">3 February, Mon</span><br />
                        <span class="size16 dark bold">17:45</span><br />
                    </li>
                    <li class="ft4">
                        Flight<br />
                        <span class="grey">LH-1419</span><br />
                        Embraer ERJ-190<br />
                    </li>
                    <li class="ft5">
                        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse18">More</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />
            </div>
            <div class="collapse frowexpand" id="collapse18">


                <ul class="flightstable mt20">
                    <li class="ft1">

                    </li>
                    <li class="ft2">
                        Duration<br />
                        <span class="grey">Economy</span><br />
                        <b>5 h 45 min</b><br />
                    </li>
                    <li class="ft3">
                        Connections<br />
                        <span class="grey">Frankfurt, Germany</span><br />
                        <b>1 h 25 min</b><br />
                    </li>
                    <li class="ft4">
                        Seats left<br /><br />
                        <b>6</b>
                    </li>
                    <li class="ft5">
                        <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse18">Hide</button>
                    </li>
                </ul>
                <div class="clearfix"></div><br /><br />



            </div>
            <!-- END OF RETURNING TICKET -->


            <div class="fselect">
                <span class="size12 lightgrey">Roundtrip / per person</span> <span class="size18 green bold">$770</span>&nbsp; <button class="selectbtn mt1" type="button">Select</button>
            </div>
        </div>
        <!-- END OF FLIGHT TICKET-->

        <div class="clearfix"></div>
        <div class="offset-2"><hr class="featurette-divider3"></div>


    </div>
    <!-- End of offset1-->

    <div class="hpadding20">

        <ul class="pagination right paddingbtm20">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>

    </div>
</div>
</div>












<!--<div>
    <table>
        <tr><th>havayolu</th>
<th>kalkış</th>
<th>süre</th>
<th>varış</th>
<th>fiyat (tek kişi)</th>
<th>aksiyon</th>
</tr>
        <tr ng-repeat="ucus in ucuslist">
            <td>{{ucus.nereden}}</td>
            <td>{{ucus.tarih}}</td>
            <td>{{ucus.sure}}</td>
            <td>{{ucus.nereye}}</td>
            <td>{{ucus.fiyat[0]}}</td>
            <td><button ng-click="sec(ucus._id)">SEC</button></td>

        </tr>

    </table>
</div>-->

<div id="{{ucus._id}}" class="offset-2" ng-repeat="ucus in ucuslist">
    <div class="fblueline"><b>{{ucus.nereden.State}}</b>{{ucus.nereden.City}}  <span class="farrow"></span> <b>{{ucus.nereye.State}}</b> {{ucus.nereye.City}}</div>


    <!-- GOING TICKET-->
    <div class="frow1">
        <ul class="flightstable mt20">
            <li class="ft1">
                <img src="updates/update1/img/tarom.png" alt="">
            </li>
            <li class="ft2">
                <div class="radio radiomargin0">
                    <label>
                        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsFradios">
                        Departure
                    </label>
                </div>
                <span class="grey">{{ucus.departure.tarih}}</span><br />
                <span class="size16 dark bold">{{ucus.departure.saat}}</span><br />
            </li>
            <li class="ft3">
                Arrival<br />
                <span class="grey">{{ucus.arrival.tarih}}</span><br />
                <span class="size16 dark bold">{{ucus.arrival.saat}}</span><br />
            </li>
            <li class="ft4">
                Flight<br />
                <span class="grey">LH-1419</span><br />
                Embraer ERJ-190<br />
            </li>
            <li class="ft5">
                <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">More</button>
            </li>
        </ul>
        <div class="clearfix"></div><br /><br />
    </div>

    <div class="collapse frowexpand" id="collapse10">

        <ul class="flightstable mt20">
            <li class="ft1">

            </li>
            <li class="ft2">
                Duration<br />
                <span class="grey">Economy</span><br />
                <b>5 h 45 min</b><br />
            </li>
            <li class="ft3">
                Connections<br />
                <span class="grey">Frankfurt, Germany</span><br />
                <b>1 h 25 min</b><br />
            </li>
            <li class="ft4">
                Seats left<br /><br />
                <b>6</b>
            </li>
            <li class="ft5">
                <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">Hide</button>
            </li>
        </ul>
        <div class="clearfix"></div><br /><br />

    </div>

    <div class="frow2">


        <ul class="flightstable mt20">
            <li class="ft1">
                <img src="updates/update1/img/tarom.png" alt="">
            </li>
            <li class="ft2">
                <div class="radio radiomargin0">
                    <label>
                        <input type="radio" value="option1" id="optionsRadios1" name="optionsFradios">
                        Departure
                    </label>
                </div>
                <span class="grey">3 February, Mon</span><br />
                <span class="size16 dark bold">14:00</span><br />
            </li>
            <li class="ft3">
                Arrival<br />
                <span class="grey">3 February, Mon</span><br />
                <span class="size16 dark bold">17:45</span><br />
            </li>
            <li class="ft4">
                Flight<br />
                <span class="grey">LH-1419</span><br />
                Embraer ERJ-190<br />
            </li>
            <li class="ft5">
                <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">More</button>
            </li>
        </ul>
        <div class="clearfix"></div><br /><br />


    </div>
    <div class="collapse frowexpand" id="collapse11">

        <ul class="flightstable mt20">
            <li class="ft1">

            </li>
            <li class="ft2">
                Duration<br />
                <span class="grey">Economy</span><br />
                <b>5 h 45 min</b><br />
            </li>
            <li class="ft3">
                Connections<br />
                <span class="grey">Frankfurt, Germany</span><br />
                <b>1 h 25 min</b><br />
            </li>
            <li class="ft4">
                Seats left<br /><br />
                <b>6</b>
            </li>
            <li class="ft5">
                <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">Hide</button>
            </li>
        </ul>
        <div class="clearfix"></div><br /><br />

    </div>
    <!-- END OF GOING TICKET-->

    <div class="fgreenline"><b>London</b> Heathrow <span class="farrow"></span> <b>Bucharest</b> Otopeni</div>

    <!-- RETURNING TICKET-->
    <div class="frow2">

        <ul class="flightstable mt20">
            <li class="ft1">
                <img src="updates/update1/img/tarom.png" alt="">
            </li>
            <li class="ft2">
                <div class="radio radiomargin0">
                    <label>
                        <input type="radio" checked="" value="option2" id="optionsRadios2" name="optionsFradios2">
                        Departure
                    </label>
                </div>
                <span class="grey">3 February, Mon</span><br />
                <span class="size16 dark bold">14:00</span><br />
            </li>
            <li class="ft3">
                Arrival<br />
                <span class="grey">3 February, Mon</span><br />
                <span class="size16 dark bold">17:45</span><br />
            </li>
            <li class="ft4">
                Flight<br />
                <span class="grey">LH-1419</span><br />
                Embraer ERJ-190<br />
            </li>
            <li class="ft5">
                <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse12">More</button>
            </li>
        </ul>
        <div class="clearfix"></div><br /><br />

    </div>
    <div class="collapse frowexpand" id="collapse12">

        <ul class="flightstable mt20">
            <li class="ft1">

            </li>
            <li class="ft2">
                Duration<br />
                <span class="grey">Economy</span><br />
                <b>5 h 45 min</b><br />
            </li>
            <li class="ft3">
                Connections<br />
                <span class="grey">Frankfurt, Germany</span><br />
                <b>1 h 25 min</b><br />
            </li>
            <li class="ft4">
                Seats left<br /><br />
                <b>6</b>
            </li>
            <li class="ft5">
                <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse12">Hide</button>
            </li>
        </ul>
        <div class="clearfix"></div><br /><br />


        <div class="clearfix"></div>
    </div>
    <!-- END OF RETURNING TICKET -->


    <div class="fselect">
        <span class="size12 lightgrey">Roundtrip / per person</span> <span class="size18 green bold">$770</span>&nbsp; <button class="selectbtn mt1" type="button">Select</button>
    </div>
</div>